html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fffcfc;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header a {
    color: #2e2e2e;
    text-decoration: none;
    margin: 0 10px;
}

.schedule-button {
    background-color: #a9240d;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 1px;
    margin-left: 150px;
    margin-bottom: 30px;
}

.social-icons a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;

}

section {
    padding: 0px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav {
    color: #0b0b0b;
    padding: 10px;
    display: flex;
    justify-content: right;
}

nav a {
    color: #222222;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.logo {
    margin-left: auto;
    margin-right: 20px;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.caption {
    position: absolute;
    top: 50%;
    left: 25%; 
    transform: translate(-50%, -50%);
    text-align: left;
    color: #fff;
}

.caption h1 {
    margin-bottom: 20px;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 348px;
    height: 63px;
    flex-shrink: 0;
}

.caption p {
    font-size: 1.5em;
    font-size: 14px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 437px;
    height: 72px;
    top: 372px;
    left: 30px;

}

.underline {
    width: 100px; 
    height: 2px;
    background-color: red;
    margin-bottom: 10px;
}

.sub-caption {
    font-size: 1.5em;
    color: rgb(245, 245, 245);
}

.buttons .btn {
    margin-right: 10px;
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    position: absolute;
    top: 70%; 
    left: 17%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}

.buttons .btn.free-consultation {
    background-color: red;
}

.buttons .btn.learn-more {
    background-color: transparent;
    border: 2px solid #fff;
    margin-left: 200px;
}

.services {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
}

.service-container {
    background-color: #F9F9F9;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px;
    width: 290px;
    height: 254px;
    flex-shrink: 0;
}

.service-container i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #2d2d2d; 
}

.service-container h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.service-container p {
    font-size: 1em;
    color: #555;
}

.about-us {
    margin-top: 50px;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
}

.about-image img {
    width: 100%; 
    height: auto;
    margin-right: 10px;
}

.experience-highlight {
    color: red;
}

.about-content h1 {
    color: #000;
    font-family: Merriweather;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-content p {
    color: #6C6C6C;

   font-family: Merriweather;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.about-list {
    display: flex;
    justify-content: space-between;
}

.about-column {
    list-style-type: none; 
}

.about-item {
    margin-bottom: 15px;
    margin: 15px;
}

.about-item input {
    margin-right: 10px;
}

.free_con {
    background-color: #C82424;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 20px;
}

.free_con:hover {
    background-color: #a9240d;
    cursor: pointer;
}

#point {
    margin-bottom: 20px;
}

.aboutp {
    width: 72px;
    height: 25px;
    flex-shrink: 0;
    color: #6C6C6C;
    font-family: Merriweather;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Video section styles */
.video-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 20px;
    background-color: #fffefe;
}

.video-content {
    padding: 0 20px;
}

.container {
    max-width: 800px;
    padding-top: 50px;
    background-color: #C82424;
    width: 652px;
    height: 480px;
    align-content: center;
}

.video-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-right: 20px;

}

.video-content p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 30px;
    text-align: center;
    color: #F4D3D5;
    font-family: Merriweather;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 520px;
    margin-left: 30px;
}

.video-image img {
    max-width: 100%;
    height: auto;
}

.signature {
    width: 96px;
    height: 39px;
    flex-shrink: 0;
    margin-left: 35px;
}

.ant {
    color: #ffffff;
    font-family: Merriweather;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 35px;

}

.sen {
    color: #ffffff;
    font-family: Merriweather;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 35px;

}